:root {
  --body-max-width: 1024px;
  --grip-dimension: 25px;
  --card-bg-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-bg-color: #283647;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.noscript-banner {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  background-color: #f8d7da;
  text-align: center;
  color: #000000;
}

.component-description p {
  margin: 0 0 0.5rem 0;
}

.resizable {
  position: relative;
  max-width: 100%;
  margin-bottom: 16px;
  padding: 20px calc(20px + var(--grip-dimension)) calc(20px + var(--grip-dimension)) 20px;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
  touch-action: none;
}

.resizable::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: var(--grip-dimension);
  height: 100%;
  background-color: var(--border);
  background-image: url(../assets/grip-vertical.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.resizable::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--grip-dimension);
  background-color: var(--border);
  background-image: url(../assets/grip-horizontal.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}

.resizable--loading::after,
.resizable--loading::before {
  visibility: hidden;
}

resize-observer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-height: 150px;
  border: 2px dashed var(--border);
  border-radius: calc(var(--border-radius) / 2);
  text-align: center;
  line-height: 1.5;
  font-size: 0.9rem;
  height: 100%;
}
