:root {
  --body-max-width: 1000px;
  --text-success: #198754;
  --text-error: #dc3545;
  --grip-dimension: 25px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-success: #69d380;
    --text-error: #fd7878;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.success { color: var(--text-success); }
.error { color: var(--text-error); }

.alert {
  position: relative;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 6px;
}

.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}

.resizable {
  position: relative;
  max-width: 100%;
  margin-bottom: 16px;
  padding: 20px calc(20px + var(--grip-dimension)) calc(20px + var(--grip-dimension)) 20px;
  border: 1px solid var(--border);
  overflow: hidden;
  touch-action: none;
}

.resizable::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: var(--grip-dimension);
  height: 100%;
  background-color: var(--border);
  background-image: url(../assets/grip-vertical.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.resizable::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--grip-dimension);
  background-color: var(--border);
  background-image: url(../assets/grip-horizontal.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}

resize-observer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-height: 150px;
  border: 2px dashed var(--border);
  text-align: center;
  line-height: 1.5;
  font-size: 0.95rem;
  height: 100%;
}
